<div class="row">
  <div class="col-12 p-3">
    <div class="bg-light p-3 rounded-2 shadow">
      <h3 class="text-center">DATI GENERALI</h3>
      <p>Sono stati istanziati XXX biglietti.</p>
      <p>Ci sono XXX rivenditori.</p>
      <p>Attualmente ci sono XXX utenti tesserati.</p>
    </div>
  </div>
  <div class="col-12 p-3">
    <div class="bg-light p-3 rounded-2 shadow">
      <form>
        <h3 class="my-3 fw-normal text-center">GESTIONE RIVENDITORI</h3>

          <input type="text" class="form-control my-2" name="nome" placeholder="Nome" required [(ngModel)]="r.nome">

        <button class="w-100 btn btn-dark my-4 text-light" (click)="genera()">GENERA</button>

      </form>
      <button class="w-100 btn btn-dark my-4 text-light" (click)="getAll()">MOSTRA RIVENDITORI</button>
    </div>
  </div>
  <div class="col-12 p-3">
    <div class="bg-light p-3 rounded-2 shadow">
      <ul *ngFor="let rivenditori of allRivenditori">
        <li>{{rivenditori.nome}}</li>
      </ul>
    </div>
  </div>
</div>
