<div class="row">
  <div class="col-12 p-3">
    <div class="bg-light p-3 rounded-2 shadow">
      <h3 class="text-center">DATI GENERALI</h3>
      <p>Sono stati istanziati {{nB}} biglietti.</p>
      <p>Ci sono {{nR}} rivenditori.</p>
      <p>Attualmente ci sono {{nT}} utenti tesserati.</p>
    </div>
  </div>
  <div class="col-12 p-3">
    <div class="bg-light p-3 rounded-2 shadow">
      <form>
        <h3 class="my-3 fw-normal text-center">GESTIONE RIVENDITORI</h3>

          <input type="text" class="form-control my-2" name="nome" placeholder="Nome" required [(ngModel)]="r.nome">

        <button class="w-100 btn btn-dark my-4 text-light" (click)="generaRivenditore()">GENERA</button>

      </form>
      <button class="w-100 btn btn-dark my-4 text-light" (click)="getAllRivenditori()">MOSTRA RIVENDITORI</button>
        <ul *ngFor="let rivenditori of allRivenditori" class="mt-2">
          <li>{{rivenditori.nome}}</li>
        </ul>
    </div>
  </div>
</div>
