<div class="row">
<div class="h1 col-12 text-center">BENVENUTI SUL SISTEMA DI GESTIONE TRASPORTI</div>
<div class="col-12 mt-5">
  <div class="row">
    <div class="col-4 p-2">
      <div class="bg-light rounded-2 h-100 p-3 shadow">
      <h3 class="text-center">CLIENTI</h3>
      <p>Il sistema permette l'acquisto di diversi titoli di viaggio dai diversi rivenditori,
        è anche possibile registrarsi acquistando una nuova tessera e caricare sopra un abbonamento.</p>
      </div>
    </div>
    <div class="col-4 p-2">
      <div class="bg-light rounded-2 h-100 p-3 shadow">
      <h3 class="text-center">MACCHINISTI</h3>
      <p>Il sistema permette ai macchinisti di controllare le proprie tratte assegnate
        e di dichiarare il tempo effettivo di ogni tratta.</p>
      </div>
    </div>
    <div class="col-4 p-2">
      <div class="bg-light rounded-2 h-100 p-3 shadow">
      <h3 class="text-center">DIRIGENTI</h3>
      <p>Il sistema permette ai dirigenti di assegnare tratte ad un macchinista,
         controllare i vari dati dei clienti e macchinisti e creare nuovi punti vendita per i biglietti.</p>
      </div>
    </div>
  </div>
</div>
</div>
