<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav">
      <button class="btn btn-light nav-item nav-link mx-2" [routerLink]="['']">Home</button>
      <button class="btn btn-light nav-item nav-link mx-2" [routerLink]="['/cliente']">Cliente</button>
      <button class="btn btn-light nav-item nav-link mx-2" [routerLink]="['/macchinista']">Macchinista</button>
      <button class="btn btn-light nav-item nav-link mx-2" [routerLink]="['/dirigente']">Dirigente</button>
  </div>
</nav>
